<div id="<%= dom_id entry %>" class="card-content" data-testid="entry-<%= dom_id entry %>">
  <p class="content">
    <strong>Text:</strong>
    <span data-testid="entry-text"><%= entry.text %></span>
  </p>

  <p class="content">
    <strong>Name:</strong>
    <%= entry.name %>
  </p>
</div>
