<div id="<%= dom_id guestbook_entry %>">
  <p>
    <strong>Body:</strong>
    <span data-testid="body">
    <% if guestbook_entry.generated_guestbook_entry&.body.present? %>
      <%= guestbook_entry.generated_guestbook_entry.body %>
    <% else %>
      <%= guestbook_entry.body %>
    <% end %>
    </span>
  </p>

  <p>
    <strong>Name:</strong>
    <%= guestbook_entry.name %>
  </p>

</div>
