<div id="<%= dom_id guestbook_entry %>">
  <p>
    <strong>Body:</strong>
    <span data-testid="body"><%= guestbook_entry.body %></span>
  </p>

  <p>
    <strong>Name:</strong>
    <%= guestbook_entry.name %>
  </p>

</div>
