<div id="<%= dom_id message %>" class="card-content" data-testid="message-<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <span data-testid="message-text"><%= message.text %></span>
  </p>

  <p>
    <strong>Name:</strong>
    <%= message.name %>
  </p>

</div>
