<h1 class="title">Editing message</h1>

<%= render "form", message: @message %>

<br>

<div>
  <%= link_to "Show this message", @message, class: "button" %>
  <%= link_to "Back to messages", messages_path, class: "button" %>
</div>
