<p class="notification is-primary is-light">
  <button class="delete"></button>
  <%= notice %>
</p>

<h1 class="title">Messages</h1>

<div id="messages">
  <% @messages.each do |message| %>
    <div class="card">
      <%= render message %>
      <p class="pb-3 ml-3">
        <%= link_to "Show this message", message, class: "button" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New message", new_message_path, class: "button is-link mt-4" %>
